<a href="https://colab.research.google.com/github/hvu88/Programacion_101/blob/Parte2/01_Introduccion_a_Python/02_Estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>ESTRUCTURAS DE DATOS - PARTE 1
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Listas</a>  
2. <a href="#item31">Tuplas</a>  
3. <a href="#item31">Slicing</a>  
4. <a href="#item31">List comprehension</a>  
</font>
</div>

---

## <b>Objetivo:</b>

Este laboratorio está diseñado para cubrir los conceptos de listas, tuplas, slicing, y listas por comprensión, con ejercicios detallados para practicar la manipulación de estos tipos de datos en Python.

---

## <b>1. Trabajando con Listas numéricas</b>

Las listas son una secuencia de elementos que pueden ser modificados después de su creación. Vamos a realizar varias operaciones con listas numéricas, utilizando también la función range() para generar secuencias de números.

### Ejemplo 1.1: Creación de listas

In [ ]:
# Crear una lista de frutas
frutas = ["manzana", "banana", "naranja", "uva", "pera"]

In [ ]:

# Acceder a elementos individuales
primera_fruta = frutas[0]
ultima_fruta = frutas[-1]
print(primera_fruta, ultima_fruta)

manzana pera

In [ ]:
# Modificar un elemento
frutas[1] = "plátano"
print(frutas)

['manzana', 'plátano', 'naranja', 'uva', 'pera']

### Ejemplo 1.2: Métodos útiles de listas

In [ ]:
algoritmos = ['logistics regression', 'XGBoost', 'SVM', 'KNN']
algoritmos.append('Decision Tree')
print(algoritmos)

['logistics regression', 'XGBoost', 'SVM', 'KNN', 'Decision Tree']

In [ ]:
# Agregar un elemento al final
frutas.append("kiwi")
print(frutas)

['manzana', 'plátano', 'naranja', 'uva', 'pera', 'kiwi']

In [ ]:

# Insertar un elemento en una posición específica
frutas.insert(2, "mango")
print(frutas)

['manzana', 'plátano', 'mango', 'naranja', 'uva', 'pera', 'kiwi']

In [ ]:
# Eliminar un elemento
frutas.remove("naranja")
print(frutas)

['manzana', 'plátano', 'mango', 'uva', 'pera', 'kiwi']

In [ ]:
# Ordenar una lista
frutas.sort()
print(frutas)

['kiwi', 'mango', 'manzana', 'pera', 'plátano', 'uva']

In [ ]:
funel = ['logistic regression', 'Gradient Boosting', 'SVM', ['Reg KNN', 'Class KNN'], 'Decsion Tree', 'Random Forest']
print(funel)

['logistic regression', 'Gradient Boosting', 'SVM', ['Reg KNN', 'Class KNN'], 'Decsion Tree', 'Random Forest']

In [ ]:
#Elemento Reg KNN en vacio
#funel[3][0]=''
funel[-3][-2]=''
print(funel)

['logistic regression', 'Gradient Boosting', 'SVM', ['', 'Class KNN'], 'Decsion Tree', 'Random Forest']

In [ ]:
funel[-3].remove('Class KNN')
print(funel)

['logistic regression', 'Gradient Boosting', 'SVM', [''], 'Decsion Tree', 'Random Forest']

In [ ]:
# Ordenar en reversa
frutas.sort(reverse=True)
print(frutas)

['uva', 'plátano', 'pera', 'manzana', 'mango', 'kiwi']

In [ ]:
frutas.append(["fresa", "membrillo"])
print(frutas)
print(frutas[-1][1])

['uva', 'plátano', 'pera', 'manzana', 'mango', 'kiwi', ['fresa', 'membrillo']]
membrillo

In [2]:
a = [1,2,3,4,5,6,5,6]
b = [6,7,8,9,10]
a.append(b)
print(a)

c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 5, 6, [6, 7, 8, 9, 10]]
[1, 2, 3, 4, 5, 6, 5, 6, [6, 7, 8, 9, 10], 6, 7, 8, 9, 10]

In [3]:
a.remove(6)
print(a)

[1, 2, 3, 4, 5, 5, 6, [6, 7, 8, 9, 10]]

In [4]:
print(a.index(6))

6

### Ejemplo 1.3: Operaciones numéricas con listas

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print("Mínimo:", min(digits))
print("Máximo:", max(digits))
print("Suma:", sum(digits))


numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mínimo, máximo y suma
print("Mínimo:", min(numeros))
print("Máximo:", max(numeros))
print("Suma total:", sum(numeros))

# Longitud de la lista
print("Cantidad de elementos:", len(numeros))

# Promedio de los valores en la lista
promedio = sum(numeros) / len(numeros)
print("Promedio:", promedio)

Mínimo: 0
Máximo: 9
Suma: 45
Mínimo: 1
Máximo: 10
Suma total: 55
Cantidad de elementos: 10
Promedio: 5.5

## 1.2: Uso de la función range()

La función range() se utiliza para generar secuencias de números, y es especialmente útil cuando se quiere evitar la creación manual de listas largas de números consecutivos.

### Ejemplo 1.4: Creación de listas con range()

In [ ]:
# Crear una lista con los números del 1 al 10
lista_numeros = list(range(1, 11))
print("Números del 1 al 10:", lista_numeros)

Números del 1 al 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Crear una lista con los números pares entre 2 y 20
pares = list(range(2, 21, 2))
print("Números pares del 2 al 20:", pares)

Números pares del 2 al 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
# Crear una lista de números en orden inverso (del 10 al 1)
reversa = list(range(10, 0, -1))
print("Números en orden inverso:", reversa)

uno_diez = list(range(1,11))

uno_diez.sort(reverse=True)
print(uno_diez)

print(sorted(uno_diez))
print(uno_diez)


diez_veinte = list(range(10,21))
print(diez_veinte)

diez_veinte.reverse()
print(diez_veinte)

Números en orden inverso: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [17]:
# Crear una lista de múltiplos de 5 entre 0 y 50
multiplos_de_5 = list(range(5, 51, 5))
print("Múltiplos de 5 entre 0 y 50:", multiplos_de_5)

Múltiplos de 5 entre 0 y 50: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### Ejercicio 1.1: Operaciones numéricas con listas

- Crea una lista de números entre 1 y 100 usando la función range() (verás cómo usarla en el próximo ejemplo).

- Calcula la media de los valores de la lista usando las funciones sum() y len().

- Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números.

- Crea una lista que contenga solo los números mayores a 50, multiplicados por 2.

In [22]:
lista_numeros = list(range(1,101))
suma = sum(lista_numeros)
q_elements = len(lista_numeros)
media = suma / q_elements
print(f'Media: {media}')

lista_inversa = sorted(lista_numeros, reverse=True)[50:100]
print(f'Lista inversa 50 primeros: {lista_inversa}')

lista_50topx2 = [x * 2 for x in lista_numeros if x > 50]
print(f'Lista >50 x2: {lista_50topx2}')

lista_50bottomx2 = [x*2 for x in lista_numeros if x < 50]
print(f'Lista <50 x2: {lista_50bottomx2}')

Media: 50.5
Lista inversa 50 primeros: [50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Lista >50 x2: [102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]
Lista <50 x2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [25]:
#Ordenar una lista sin alterar la variable original
mi_lista = [5, 3, 8, 2, 9]
lista_ordenada = sorted(mi_lista)


print("Lista original:", mi_lista)
print("Lista ordenada:", lista_ordenada)

Lista original: [5, 3, 8, 2, 9]
Lista ordenada: [2, 3, 5, 8, 9]

## <b>2. Listas por Comprensión</b>

Las listas por comprensión son una forma concisa de crear listas nuevas a partir de una expresión. Se pueden utilizar para realizar operaciones sobre secuencias de forma más rápida y sin necesidad de ciclos explícitos.

### Ejemplo 2.1: Generación de listas por comprensión

In [ ]:
# Crear una lista de cuadrados de los números del 1 al 10
cuadrados = [x**2 for x in range(1, 11)]
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Crear una lista de números pares entre 1 y 20
pares = [x for x in range(1, 21) if x % 2 == 0]
print(pares)

pares_ = list(range(2, 21, 2))
print(pares_)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
multiplos23 = [x for x in range(1, 1700) if x % 23 == 0]
print(len(multiplos23))

73

In [ ]:
multiplo23 = list(range(23, 1700, 23))
print(len(multiplo23))

73

### Ejemplo 2.2: Listas por comprensión con manipulación de cadenas

In [ ]:
# Crear una lista con las primeras letras en mayúsculas de una lista de nombres

nombres = ["juan", "pedro", "ana", "maria"]
nombres_mayuscula = [nombre.capitalize() for nombre in nombres]
print(nombres_mayuscula)

letra_mayus = [nombre.capitalize()[0] for nombre in nombres]
print(letra_mayus)

['Juan', 'Pedro', 'Ana', 'Maria']
['J', 'P', 'A', 'M']

### Ejercicio 2: Creación avanzada con listas por comprensión

- Crea una lista de los números impares entre 1 y 50.
- Genera una lista con los cubos de los primeros 10 números (1 al 10).
- Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas.

In [ ]:
impares = [x for x in range(1,51,2)]
print(f'Impares: {impares}')

cubos = [x**3 for x in range(1,11)]
print(f'Cubos: {cubos}')

palabras = ["palabra", "uno", "dos", "estrella"]
palabras_4 = [palabra.upper() for palabra in palabras if len(palabra) > 4]
print(f'Palabras >4: {palabras_4}')

Impares: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
Cubos: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
Palabras >4: ['PALABRA', 'ESTRELLA']

## <b>3. Trabajando con Slicing</b>

El slicing es una técnica que te permite extraer sublistas de listas existentes, seleccionando elementos de una lista mediante índices.

### Ejemplo 3.1: Slicing de listas

In [ ]:
# Crear una lista de letras
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
# Extraer una subsección de la lista
primeras_tres = letras[:3]  # Primeros 3 elementos
print(primeras_tres)

['a', 'b', 'c']

In [ ]:
desde_el_cuarto = letras[3:]  # Desde el cuarto hasta el final
print(desde_el_cuarto)

['d', 'e', 'f', 'g', 'h']

In [ ]:
ultimos_dos = letras[-2:]  # Los últimos dos elementos
print(ultimos_dos)


ultimos_dos = letras[:-2]  # Sin los últimos dos elementos
print(ultimos_dos)

['g', 'h']
['a', 'b', 'c', 'd', 'e', 'f']

### Ejemplo 3.2: Slicing con pasos

In [ ]:
# Crear una lista de números del 1 al 10
numeros = list(range(1, 11))

In [ ]:

# Obtener todos los números en posiciones pares
pares = numeros[1::2]  # Inicia en el segundo elemento y salta de 2 en 2
print(pares)

[2, 4, 6, 8, 10]

In [ ]:
# Obtener cada tercer número
tercios = numeros[::3]
print(tercios)

[1, 4, 7, 10]

### Ejercicio 3: Aplicaciones de slicing

Crea una lista con los números del 1 al 100. Luego, usando slicing:
- Extrae los primeros 10 números.
- Extrae los últimos 10 números.
- Extrae todos los números en posiciones impares.
- Usa slicing para dividir una lista de palabras en dos mitades.

In [ ]:
lista = list(range(1,101))
print(f'Primeros 10: {lista[:10]}')
print(f'Últimos 10: {lista[-10:]}')
print(f'Impares: {lista[::2]}')

palabras = ["palabra", "uno", "dos", "estrella"]
corte = len(palabras)//2
print(f'Primera mitad: {palabras[:corte]}')
print(f'Segunda mitad: {palabras[corte:]}')

Primeros 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Últimos 10: [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Impares: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
Primera mitad: ['palabra', 'uno']
Segunda mitad: ['dos', 'estrella']

## <b>4. Trabajando con Tuplas
</b>

Las tuplas son como listas, pero inmutables, lo que significa que no se pueden modificar después de su creación. Son útiles para almacenar datos que no deben cambiar.

### Ejemplo 4.1: Crear y acceder a tuplas

In [ ]:
# Crear una tupla
coordenadas = (10.5, 20.3)

# Acceder a los elementos de la tupla
print("X:", coordenadas[0])
print("Y:", coordenadas[1])

X: 10.5
Y: 20.3

### Ejemplo 4.2: Intento de modificación de una tupla

In [ ]:
# Crear una tupla
dimensiones = (200, 50)

In [ ]:
# Intentar modificar la tupla (esto generará un error)
#dimensiones[0] = 250  # Descomenta esta línea para ver el error

In [ ]:
# Reasignar una nueva tupla
dimensiones = (400, 100)
print("Nuevas dimensiones:", dimensiones)

Nuevas dimensiones: (400, 100)

### Ejercicio 4: Trabajando con tuplas
- Crea una tupla que almacene las dimensiones de un objeto (ancho, alto).
- Intenta modificar un elemento de la tupla y observa el error que genera.
- Reescribe la tupla completa con nuevas dimensiones.

In [ ]:
dimensiones = (20,40)
print(dimensiones)

(20, 40)

## <b>5. Desafío</b>

### Desafío 1: Análisis de ventas de una tienda de ropa

Eres el encargado de una tienda de ropa y tienes una lista de ventas diarias para diferentes productos. Cada día, vendes camisetas, pantalones y zapatos. Quieres analizar las ventas para entender mejor el rendimiento de cada producto.

<b>Objetivo:</b>

- Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
- Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
- Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.

- Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.

Instrucciones:
- Genera los datos de ventas usando listas manualmente o simulándolos con valores constantes.
- Calcula el total de ventas por producto usando sum() y el promedio con len().
- Usa listas por comprensión para clasificar las ventas de los productos.

---

# Gracias por completar este laboratorio!

---