<a href="https://colab.research.google.com/github/hvu88/Programacion_101/blob/Parte2/01_Introduccion_a_Python/07_Manipulaci%C3%B3n_de_Datos_con_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

# **Manipulación de Datos con Pandas**

**Objetivo**

El objetivo de este laboratorio es capacitar al estudiante con las herramientas y técnicas esenciales para la manipulación de datos utilizando la biblioteca Pandas. Al final del laboratorio, el estudiante será capaz de realizar operaciones básicas y avanzadas en conjuntos de datos, combinarlos, agruparlos y extraer información útil para el análisis.

**Contenido**

1. <a href="#item31">Introducción a Pandas</a>
2. <a href="#item31">Operaciones Básicas con DataFrames</a>
3. <a href="#item31">Combinación de Datasets</a>
4. <a href="#item31">Agregación y Agrupamiento</a>

</font>
</div>


---

# 1. Introducción a Pandas


## 1.1. ¿Qué es Pandas?

Pandas es una biblioteca de código abierto para el lenguaje de programación Python, que proporciona estructuras de datos y herramientas de análisis de datos de alto rendimiento y fáciles de usar. Es fundamental en el campo de la ciencia de datos y el análisis de datos.

**Características clave de Pandas:**

- Estructuras de datos flexibles: Series y DataFrames para datos unidimensionales y bidimensionales.
- Indexación potente: Permite acceso y manipulación eficientes de datos.
- Herramientas de limpieza y preparación de datos: Funciones para manejar datos faltantes, duplicados, y más.
- Integración con otras bibliotecas: Se complementa bien con NumPy, Matplotlib, y otras.

## 1.2. Estructuras de datos en Pandas

**Series:** Estructura unidimensional similar a una columna en una tabla.

In [35]:
import pandas as pd

# Crear una Serie
s = pd.Series([1, 3, 5, 7, 9])
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

**DataFrame:** Estructura bidimensional, similar a una hoja de cálculo con filas y columnas.

In [73]:
# Crear un DataFrame
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos','Jose','Miguel','Pedro'],
    'Edad': [23, 45, 34,23,44,54],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Lima', 'Trujillo','Paris']
}

df = pd.DataFrame(data)
print(df)

# Guardar el DataFrame en un archivo CSV
df.to_csv('datos.csv', index=False)  # index=False para no guardar el índice

print("Archivo 'datos.csv' guardado correctamente.")

   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Luis    45  Barcelona
2  Carlos    34   Valencia
3    Jose    23       Lima
4  Miguel    44   Trujillo
5   Pedro    54      Paris
Archivo 'datos.csv' guardado correctamente.

## 1.3. Importación y exploración inicial de datos

Importar datos desde un archivo CSV:

In [82]:
# archivo 'datos.csv'
df = pd.read_csv('titanic.csv')

**Exploración inicial:**

Ver las primeras filas:

In [83]:
print(df.head())  # Muestra las primeras 5 filas

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Resumen de información:

In [84]:
print(df.info())  # Información sobre tipos de datos y valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Estadísticas descriptivas:

In [85]:
print(df.describe(percentiles=[0.1,0.9]))  # Estadísticas básicas de las columnas numéricas

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
10%      90.000000    0.000000    1.000000   14.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
90%     802.000000    1.000000    3.000000   50.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
10%      0.000000    7.550000
50%      0.000000   14.454200
90%      2.000000   77.958300
max      6.000000  512.329200

In [41]:
# @title Texto de título predeterminado
print(df.describe())  # Estadísticas básicas de las columnas numéricas

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [86]:
df.shape

(891, 12)

In [87]:
len(df)

891

In [88]:
df.columns.to_frame()

                       0
PassengerId  PassengerId
Survived        Survived
Pclass            Pclass
Name                Name
Sex                  Sex
Age                  Age
SibSp              SibSp
Parch              Parch
Ticket            Ticket
Fare                Fare
Cabin              Cabin
Embarked        Embarked

 Filtremos el dataframe de titanic en mujeres de primera clase menores de 20 años

In [91]:
condition1 = df['Sex'] == 'female'
condition2 = df['Pclass'] == 1
condition3 = df['Age'] < 20

res = df[condition1 & condition2 & condition3]
print(res)

     PassengerId  Survived  Pclass  \
136          137         1       1
291          292         1       1
297          298         0       1
307          308         1       1
311          312         1       1
329          330         1       1
435          436         1       1
504          505         1       1
585          586         1       1
689          690         1       1
700          701         1       1
781          782         1       1
853          854         1       1
887          888         1       1

                                                  Name     Sex   Age  SibSp  \
136                       Newsom, Miss. Helen Monypeny  female  19.0      0
291            Bishop, Mrs. Dickinson H (Helen Walton)  female  19.0      1
297                       Allison, Miss. Helen Loraine  female   2.0      1
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.0      1
311                         Ryerson, Miss. Emily Borie  female  18.0      2
329                       Hippach, Miss. Jean Gertrude  female  16.0      0
435                          Carter, Miss. Lucile Polk  female  14.0      1
504                              Maioni, Miss. Roberta  female  16.0      0
585                                Taussig, Miss. Ruth  female  18.0      0
689                  Madill, Miss. Georgette Alexandra  female  15.0      0
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.0      1
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.0      1
853                          Lines, Miss. Mary Conover  female  16.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0

     Parch    Ticket      Fare            Cabin Embarked
136      2     11752   26.2833              D47        S
291      0     11967   91.0792              B49        C
297      2    113781  151.5500          C22 C26        S
307      0  PC 17758  108.9000              C65        C
311      2  PC 17608  262.3750  B57 B59 B63 B66        C
329      1    111361   57.9792              B18        C
435      2    113760  120.0000          B96 B98        S
504      0    110152   86.5000              B79        S
585      2    110413   79.6500              E68        S
689      1     24160  211.3375               B5        S
700      0  PC 17757  227.5250          C62 C64        C
781      0     17474   57.0000              B20        S
853      1  PC 17592   39.4000              D28        S
887      0    112053   30.0000              B42        S

In [93]:
res.Survived.mean()

0.9285714285714286

In [97]:
df.shape
len(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [101]:
df.sort_values(by='Age', ascending=False).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q

In [105]:
df.sort_values(by='Age', ascending=False).reset_index(drop=True).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
1,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
2,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
3,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
4,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q

In [107]:
df.sort_values(by=['Sex','Age'],ascending=False).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q

In [117]:
df['num_familia'] = df.SibSp  + df.Parch

In [119]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,num_familia
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,1
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,2
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,3
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,3
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,2

In [121]:
df['constant'] = 1

In [125]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,num_familia,constant
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,1,1
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,2,1
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,3,1
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,3,1
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,2,1

In [129]:
def age_cut(x):
  if x < 18:
    return 'menor'
  else:
    return 'mayor'

df['Age cut'] = df.Age.apply(lambda x: age_cut(x)).head()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,num_familia,constant,Age cut
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,1,1,menor
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,2,1,menor
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,3,1,menor
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,3,1,menor
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,2,1,menor

In [135]:
df[~df.Cabin.isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,num_familia,constant,Age cut
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,3,1,NaN
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,3,1,NaN
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,1,1,NaN
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,3,1,NaN
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,712,0,1,"Klaber, Mr. Herman",male,NaN,0,0,113028,26.5500,C124,S,0,1,NaN
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S,0,1,NaN
776,777,0,3,"Tobin, Mr. Roger",male,NaN,0,0,383121,7.7500,F38,Q,0,1,NaN
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S,0,1,NaN
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C,0,1,NaN

In [138]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,num_familia,constant,Age cut
803,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
755,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
469,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
644,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
831,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True
846,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True
859,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True
868,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True
878,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True

##2. Operaciones Básicas con DataFrames

###2.1. Acceso a datos

**Conceptos clave:**

- Acceso a columnas y filas.
- Uso de loc (basado en etiquetas) y iloc (basado en posiciones).

**Ejemplo:**

In [45]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'María'],
    'Edad': [23, 45, 34, 29],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla'],
    'Sexo': ['F', 'M', 'M', 'F']
}

df = pd.DataFrame(data)

In [46]:
# Acceder a una columna
edades = df['Edad']
print("Edades:")
print(edades)

Edades:
0    23
1    45
2    34
3    29
Name: Edad, dtype: int64

In [47]:

# Acceder a múltiples columnas
nombre_ciudad = df[['Nombre', 'Ciudad']]
print(nombre_ciudad)

   Nombre     Ciudad
0     Ana     Madrid
1    Luis  Barcelona
2  Carlos   Valencia
3   María    Sevilla

In [48]:
# Acceder a una fila por etiqueta
fila_ana = df.loc[0]
print("\nFila de Ana:")
print(fila_ana)

Fila de Ana:
Nombre       Ana
Edad          23
Ciudad    Madrid
Sexo           F
Name: 0, dtype: object

In [49]:
# Acceder a una fila por posición
fila_primera = df.iloc[0]
print("\nPrimera fila:")
print(fila_primera)

Primera fila:
Nombre       Ana
Edad          23
Ciudad    Madrid
Sexo           F
Name: 0, dtype: object

### 2.2. Selección y filtrado

Conceptos clave:

- Filtrado condicional.
- Uso de operadores lógicos (&, |, ~).

**Ejemplo:**

In [50]:
# Filtrar por condición
mayores_30 = df[df['Edad'] > 30]
print("\nPersonas mayores de 30 años:")
print(mayores_30)

Personas mayores de 30 años:
   Nombre  Edad     Ciudad Sexo
1    Luis    45  Barcelona    M
2  Carlos    34   Valencia    M

In [51]:
df_30 = df.loc[df.Edad >=30]
print(df_30)
print(df_30.describe())

   Nombre  Edad     Ciudad Sexo
1    Luis    45  Barcelona    M
2  Carlos    34   Valencia    M
            Edad
count   2.000000
mean   39.500000
std     7.778175
min    34.000000
25%    36.750000
50%    39.500000
75%    42.250000
max    45.000000

In [52]:
df_30 = df.loc[(df.Edad >=29) & (df.Sexo == 'F')]
print(df_30)
print(df_30.describe())

  Nombre  Edad   Ciudad Sexo
3  María    29  Sevilla    F
       Edad
count   1.0
mean   29.0
std     NaN
min    29.0
25%    29.0
50%    29.0
75%    29.0
max    29.0

In [53]:
# Filtrar por múltiples condiciones
madrid_mayor_25 = df[(df['Ciudad'] == 'Madrid') & (df['Edad'] > 25)]
print("\nPersonas de Madrid mayores de 25 años:")
print(madrid_mayor_25)

Personas de Madrid mayores de 25 años:
Empty DataFrame
Columns: [Nombre, Edad, Ciudad, Sexo]
Index: []

In [54]:
# Uso de isin para múltiples valores
ciudades = df[df['Ciudad'].isin(['Madrid', 'Valencia'])]
print("\nPersonas de Madrid o Valencia:")
print(ciudades)

Personas de Madrid o Valencia:
   Nombre  Edad    Ciudad Sexo
0     Ana    23    Madrid    F
2  Carlos    34  Valencia    M

### 2.3. Ordenamiento de datos

**Conceptos clave:**

- Ordenar por una o varias columnas.
- Orden ascendente (ascending=True) y descendente (ascending=False).

**Ejemplo:**

In [55]:
# Ordenar por edad ascendente
df_ordenado_edad = df.sort_values(by='Edad')
print("\nDataFrame ordenado por edad (ascendente):")
print(df_ordenado_edad)

DataFrame ordenado por edad (ascendente):
   Nombre  Edad     Ciudad Sexo
0     Ana    23     Madrid    F
3   María    29    Sevilla    F
2  Carlos    34   Valencia    M
1    Luis    45  Barcelona    M

In [56]:

# Ordenar por edad descendente
df_ordenado_edad_desc = df.sort_values(by='Edad', ascending=False)
print("\nDataFrame ordenado por edad (descendente):")
print(df_ordenado_edad_desc)

DataFrame ordenado por edad (descendente):
   Nombre  Edad     Ciudad Sexo
1    Luis    45  Barcelona    M
2  Carlos    34   Valencia    M
3   María    29    Sevilla    F
0     Ana    23     Madrid    F

In [57]:

# Ordenar por ciudad y luego por edad
df_ordenado_ciudad_edad = df.sort_values(by=['Ciudad', 'Edad'])
print("\nDataFrame ordenado por ciudad y edad:")
print(df_ordenado_ciudad_edad)

DataFrame ordenado por ciudad y edad:
   Nombre  Edad     Ciudad Sexo
1    Luis    45  Barcelona    M
0     Ana    23     Madrid    F
3   María    29    Sevilla    F
2  Carlos    34   Valencia    M

### 2.4. Modificación y eliminación de datos

**Conceptos clave:**

- Añadir y modificar columnas.
- Eliminar filas y columnas.

**Ejemplo:**

In [58]:
# Añadir una nueva columna
df['Puntaje'] = [88, 92, 79, 85]
print("\nDataFrame con nueva columna 'Puntaje':")
print(df)

DataFrame con nueva columna 'Puntaje':
   Nombre  Edad     Ciudad Sexo  Puntaje
0     Ana    23     Madrid    F       88
1    Luis    45  Barcelona    M       92
2  Carlos    34   Valencia    M       79
3   María    29    Sevilla    F       85

In [59]:
# Modificar valores
df.loc[df['Nombre'] == 'Ana', 'Edad'] = 24
print("\nDataFrame después de modificar la edad de Ana:")
print(df)

DataFrame después de modificar la edad de Ana:
   Nombre  Edad     Ciudad Sexo  Puntaje
0     Ana    24     Madrid    F       88
1    Luis    45  Barcelona    M       92
2  Carlos    34   Valencia    M       79
3   María    29    Sevilla    F       85

In [60]:
# Eliminar una columna
df_sin_puntaje = df.drop('Puntaje', axis=1)
print("\nDataFrame sin la columna 'Puntaje':")
print(df_sin_puntaje)

DataFrame sin la columna 'Puntaje':
   Nombre  Edad     Ciudad Sexo
0     Ana    24     Madrid    F
1    Luis    45  Barcelona    M
2  Carlos    34   Valencia    M
3   María    29    Sevilla    F

In [61]:
# Eliminar una fila
df_sin_fila = df.drop(2)  # Eliminar la fila con índice 2
print("\nDataFrame sin la fila de Carlos:")
print(df_sin_fila)

DataFrame sin la fila de Carlos:
  Nombre  Edad     Ciudad Sexo  Puntaje
0    Ana    24     Madrid    F       88
1   Luis    45  Barcelona    M       92
3  María    29    Sevilla    F       85

### 2.5. Manejo de datos faltantes

**Conceptos clave:**

- Identificar y tratar valores nulos (NaN).
- Métodos para eliminar o imputar datos faltantes.

**Ejemplo:**

In [62]:
# Introducir valores faltantes
df_con_nan = df.copy()
df_con_nan.loc[1, 'Edad'] = None
print("\nDataFrame con valor faltante:")
print(df_con_nan)

DataFrame con valor faltante:
   Nombre  Edad     Ciudad Sexo  Puntaje
0     Ana  24.0     Madrid    F       88
1    Luis   NaN  Barcelona    M       92
2  Carlos  34.0   Valencia    M       79
3   María  29.0    Sevilla    F       85

In [63]:
# Identificar valores faltantes
print("\nValores faltantes en 'Edad':")
print(df_con_nan['Edad'].isnull())

Valores faltantes en 'Edad':
0    False
1     True
2    False
3    False
Name: Edad, dtype: bool

In [64]:

# Eliminar filas con valores faltantes
df_sin_nan = df_con_nan.dropna()
print("\nDataFrame sin filas con valores faltantes:")
print(df_sin_nan)

DataFrame sin filas con valores faltantes:
   Nombre  Edad    Ciudad Sexo  Puntaje
0     Ana  24.0    Madrid    F       88
2  Carlos  34.0  Valencia    M       79
3   María  29.0   Sevilla    F       85

In [65]:
# Imputar valores faltantes
df_imputado = df_con_nan.fillna({'Edad': df_con_nan['Edad'].mean()})
print("\nDataFrame con valores faltantes imputados:")
print(df_imputado)

DataFrame con valores faltantes imputados:
   Nombre  Edad     Ciudad Sexo  Puntaje
0     Ana  24.0     Madrid    F       88
1    Luis  29.0  Barcelona    M       92
2  Carlos  34.0   Valencia    M       79
3   María  29.0    Sevilla    F       85

###2.6. Tamaño y resumen de datos

**Conceptos clave:**

- Obtener el número de filas y columnas.
- Resumen estadístico de los datos.

**Ejemplo:**

In [66]:
# Obtener el número de filas y columnas
filas, columnas = df.shape
print(f"\nEl DataFrame tiene {filas} filas y {columnas} columnas.")

El DataFrame tiene 4 filas y 5 columnas.

In [67]:

# Listar las columnas
print("\nColumnas del DataFrame:")
print(df.columns)

Columnas del DataFrame:
Index(['Nombre', 'Edad', 'Ciudad', 'Sexo', 'Puntaje'], dtype='object')

In [68]:
# Resumen estadístico
print("\nResumen estadístico:")
print(df.describe())

Resumen estadístico:
            Edad    Puntaje
count   4.000000   4.000000
mean   33.000000  86.000000
std     8.981462   5.477226
min    24.000000  79.000000
25%    27.750000  83.500000
50%    31.500000  86.500000
75%    36.750000  89.000000
max    45.000000  92.000000

### 2.7. Ejercicios


**Ejercicio 1**

Crea un DataFrame con la siguiente información:

- Nombre: 'Juan', 'Laura', 'Pedro', 'Carmen', 'Luis'
- Departamento: 'Ventas', 'Marketing', 'Ventas', 'Finanzas', 'Marketing'
- Salario: 50000, 60000, 55000, 65000, 62000

Tareas:

- Accede a la columna de salarios.
- Filtra los empleados del departamento de 'Marketing'.
- Ordena el DataFrame por salario de manera descendente.
- Añade una nueva columna 'Bono' que sea el 10% del salario.
- Calcula el salario total (salario + bono) y añade una columna 'SalarioTotal'.

**Ejercicio 2**

Utilizando el DataFrame del ejercicio anterior:

- Modifica el salario de 'Juan' a 52000.
- Elimina el empleado 'Pedro' del DataFrame.
- Identifica si hay datos faltantes en el DataFrame.
- Si hay datos faltantes, imputa con el valor promedio de la columna correspondiente.

**Ejercicio 3**

Crea un DataFrame con datos de ventas:

- Producto: 'Producto A', 'Producto B', 'Producto C', 'Producto D'
- Ventas Enero: 150, 200, 140, 170
- Ventas Febrero: 180, None, 160, 190

Tareas:

- Calcula el total de ventas por producto sumando 'Ventas Enero' y 'Ventas Febrero'.
- Identifica los productos con datos faltantes en 'Ventas Febrero'.
- Imputa los valores faltantes con el promedio de 'Ventas Febrero'.
- Ordena el DataFrame por total de ventas de manera ascendente.

---

# Gracias por completar este laboratorio!

---